<p style="color:white;">
    &nbsp;&nbsp;&nbsp;模块&nbsp;&nbsp;&nbsp;
    <span style="color:#39C6E9;font-size:22px;">\04</span>
</p>
<div class="setimg">
    <div echarts [options]="rightOption4" class='demo-chart'></div>
</div>
    <!--<img class="img" src="../../assets/icon.png"/>-->
<div class="enddata">
        <p style="color:white;">
            <span style="color:#39C6E9;font-size:12px;">男性</span>
            <br/>15.22
        </p>
        <p style="color:white;">
            <span style="color:#39C6E9;font-size:12px;">女性</span>
            <br/>84.78
        </p>
</div>
