.right-con{
  height: 100%;
}
.right1{
  float: left;
  height: 50%;
  width: 33.2%;
  /*background:yellow;*/
  border-right: 1px solid rgb(78,200,215)
}
.right2{
  float: left;
  height: 50%;
  width: 66.6%;
  /*background:deepskyblue;*/
 
}
.right3{
  float: left;
  height: 50%;
  width: 33.2%;
  /*background:pink;*/
  border-top: 1px solid rgb(78,200,215);
  border-right: 1px solid rgb(78,200,215)
}
.right4{
  float: left;
  height: 50%;
  width: 33.2%;
  /*background:salmon;*/
  border-top: 1px solid rgb(78,200,215);
  border-right: 1px solid rgb(78,200,215)
  
}
.right5{
  float: left;
  height: 50%;
  width: 33.2%;
  /*background:gray;*/
  border-top: 1px solid rgb(78,200,215)
}
