<div >
  <h2 class="h2" style="color:white;text-align: center">商品销售额排行</h2>
  <p class="left-title">
    <span>型号</span>
    <span>销售比%</span>
  </p>
  <ul class="table-context">
        <li>1111111111111......&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;20%</li>
        <li>2222222222222......&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;20%</li>
        <li>3333333333333......&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;20%</li>
        <li>4444444444444......&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;20%</li>
        <li>5555555555555......&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;20%</li>
        <li>6666666666666......&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;20%</li>
  </ul>
</div>
